html, body{
    margin: 0px;
    background-color: black;
    overflow: hidden;
}
canvas{
    display: block;
    position: absolute;
    align-content: center;
    z-index: -1;
    margin-left: 15%;
    /* background-color: orange; */
}
#options{
    margin-left: 2%;
    position: absolute;
    top: 10%;
}

#options div{
    margin: 0.5em;
}

label{
    color: white;
}